/georeference/.ipynb_checkpoints
/getdata/fetched/*
/application-code/thun/build/old_thun-1.0.xar
tmp
temp
/application-code/thun/analyze/WhoAreYou_old.xql
/.ipynb_checkpoints
/debug.log
/application-code/thun/process/fix_places.xql
/application-code/thun/build/*.xar
